node_modules
dist
build
.env
.env.*
.git
.gitignore
docker-compose.override.yml
mysql_data/
server/node_modules
frontend/node_modules
*.log
npm-debug.log*
Dockerfile.*
/.vscode
/.idea
coverage
tests
distnode_modules
package-lock.json
server/node_modules
mysql_data
mysql-init
.git
.gitignore
Dockerfile
docker-compose.yml
.env
