version: "3.9"

services:
  mysql:
    container_name: mysql
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: users
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 10s
      retries: 10
      interval: 3s

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - mysql

  backend:
    container_name: backend
    build:
      context: ./server
      dockerfile: Dockerfile
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - ./server/.env
    ports:
      - "4000:4000"
    volumes:
      - ./server:/app:cached
      - backend_node_modules:/app/node_modules
    working_dir: /app
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile.dev
    depends_on:
      - backend
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: /api
    volumes:
      - .:/app:cached
      - frontend_node_modules:/app/node_modules
    working_dir: /app

volumes:
  mysql_data:
  backend_node_modules:
  frontend_node_modules:
